.container-loader {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  z-index: 9999;
}

.rotating-letter {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-c {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
