.menu-toggle {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
}

.menu-toggle input {
  display: none;
}

.menu-toggle svg {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-toggle path {
  fill: none;
  stroke: #1f2937;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-toggle circle {
  display: none;
}

.menu-toggle .line--1,
.menu-toggle .line--3 {
  --total-length: 126.64183044433594;
}

.menu-toggle .line--2 {
  --total-length: 70;
}

.menu-toggle input:checked~svg .line--1,
.menu-toggle input:checked~svg .line--3 {
  --length: 22.627416998;
  --offset: -94.1149185097;
}

.menu-toggle input:checked~svg .line--2 {
  --length: 0;
  --offset: -50;
}